.nav-link {
  color: #fff; }

.my-course {
  margin-top: 16px; }

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 2px; }

.select-checkbox-option {
  width: 154px;
  margin: 0 16px; }
