<div class="search-page mt-4">
    <form method="GET" action="/search">
        <div class="form-group">
            <label for="search-input">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="Nhập để tìm kiếm...">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>